.cabeçalho {
background-color: #0000;
color: white;
display: flex;
justify-content: space-around;
}

.cabeçalho-imagen{
    width: 20%;
}

body {
    background-color: black;
}

p {
    text-align: center;
}

.escola {
    color:white ;
}