.cabeçalho {
background-color: #0000;
color: white;
display: flex;
justify-content: space-around;
}

.cabeçalho-imagen{
    width: 20%;
}

body {
      background-color: black;
}

.fundo {
    background-color: black;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    text-align: center;
    color: white;
}

h2 {
    color: white;
    text-align: center;
}

li {
    color: white;
}

.escola {
    color:white ;
}

.imagecenter {
    text-align: center;
}
